.cont{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.cont img{
  width: 300px;
  margin-bottom: 3rem;
}
.cont-img1{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 3rem 0;
  justify-content: center;
}

.cont-img1 img{
  height: 300px;
  object-fit: cover;
}



@media screen and (max-width:1000px) {
  .cont p{
    font-size: 1.2rem;
  }
  .cont-img1 img{
    height: 300px;
    object-fit: cover;
  }
}